/* Contact.css */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    position: relative;
    border: 1px solid #BBB;
  }
  ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 100px;
    text-align: right;
  }
  .ribbon span {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #00b7ff;
    background: linear-gradient(#00ccff 0%, #007c7c 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  
  .contacts, .form {
    flex: 1;
  }
  
  .contacts {
    margin-right: 20px;
  }
  
  .contacts h2, .form h2 {
    margin-bottom: 10px;
  }

  /* Contact.css */

.contacts {
    margin-right: 20px;
   color: #fff;
  }
  
  .contacts h2 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .contact-item {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .contact-item span {
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
  }
  
  .social-icons a {
    margin-right: 20px;
    color: #ffffff;
    font-size: 35px;
    
    
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  

  /*submit form*/

  /* Form.css */

.form {
  padding: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
  border-radius: 10px;
  

 }

.form h2 {
  margin-bottom: 10px;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.form-group input,
.form-group textarea {
  max-width: 80%;
  padding: 10px;
  background-color: #BBB;
  color: yellowgreen;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #007bff;
  color: white;
  max-width: 80%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {

  .contact {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  

  .form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}