.home {
  display: flex;
  align-items: center;
  height: 100vh; /* Set the height of the home section to 100% of viewport height */
}

.left-child {
  flex: 1;
  height: 50%; /* Set left side to take up to 50% of height */
  overflow: hidden; /* Ensure content doesn't overflow */
  position: relative; /* Positioning context for the overlay */
}

.picture img {
  max-width: 100%;
  height: auto;
  filter: blur(10px); /* Apply blur effect */
}
h1{
  letter-spacing: 0.1em;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent blurry color */
}

.right-child {
  flex: 2;
}

.description {
  margin-right: 20px; /* Add spacing between description and buttons */
}
.description p{
  font-size:20px;


}

.cta-buttons {
  display: flex;
  align-items: center;
}

.cta-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #007bff;
  font-size: 24px;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url('/home/user/My_portfolio/public/images/julien-tromeur-FYOwBvRb2Mk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 0;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .left-child {
    flex: 1;
    height: 300px;
  }
  .right-child {
    flex: 1;
  }
  .description {
    margin-right: 0;
  }
  .cta-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .cta-button {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social-icons {
    margin-top: 10px;
    bottom: 0;
    width: 100%;
  }
  .social-icons a {
    font-size: 20px;
  }
  .picture img {
    max-width: 100%;
    height: auto;
    filter: blur(20px); /* Apply blur effect */
    
  }

  
  .left-child {
    display: none; /* Hide left child on small screens */
  }
}
