.home {
  display: flex;
  align-items: center;
  height: auto;
}

.left-child {
  flex: 1;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.picture img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}
h1{
  letter-spacing: 0.1em;
  color: #fff;
  padding: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.right-child {
  flex: 2;
  
}

.description {
  
  height: 70%;
  margin: 10px;
  --b:20px; 
  --a:90deg;
  --p:10px; 
  
  --g:#0000 var(--a),#000 0;   
  padding: calc(var(--b) + var(--p));
  margin: 15px;
  display:inline-block;
  box-sizing: border-box;
  background:linear-gradient(45deg,rgb(42, 58, 80),rgb(1, 41, 54,0.5));
  -webkit-mask:
    conic-gradient(from calc(var(--a)/-2 -  45deg) at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from calc(var(--a)/-2 +  45deg) at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from calc(var(--a)/-2 - 135deg) at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from calc(var(--a)/-2 + 135deg) at bottom var(--b) right var(--b),var(--g)) 100% 100%;
          mask:
    conic-gradient(from calc(var(--a)/-2 -  45deg) at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from calc(var(--a)/-2 +  45deg) at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from calc(var(--a)/-2 - 135deg) at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from calc(var(--a)/-2 + 135deg) at bottom var(--b) right var(--b),var(--g)) 100% 100%;
  -webkit-mask-size:50.1% 50.1%;
          mask-size:50.1% 50.1%;
  -webkit-mask-repeat:no-repeat;
          mask-repeat:no-repeat;
}
.description p{
  font-size:20px;
  color: #ffffff;

}

.cta-buttons {
  display: flex;
  align-items: center;
}

.cta-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  --size: 5px;
  background: conic-gradient(#575757 0.03turn, rgba(0, 21, 31, 0.9) 0);
  background-size: var(--size) var(--size);
  animation: moveConic 100s linear infinite; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@keyframes moveConic {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 100%;
  }
}

.social-icons {
  margin: 10px;
}

.social-icons a {
  color: #007bff;
  font-size: 24px;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url('../files/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 0;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .left-child {
    flex: 1;
    height: 300px;
  }
  .right-child {
    flex: 1;
  }
  .description {
    margin-right: 0;
  }
  .cta-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .cta-button {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social-icons {
    margin-top: 10px;
    bottom: 0;
    width: 100%;
  }
  .social-icons a {
    font-size: 20px;
  }
  .picture img {
    max-width: 100%;
    height: auto;
    filter: blur(20px);
    
  }

  
  .left-child {
    display: none;
  }
}
