/* Portfolio.css */

.portfolio {
    padding: 20px;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Use CSS Grid for flexible list view */
    gap: 20px;
  }
  
  .project-card {
    --b:20px;  
    --a:20deg; 
    --p:25px; 
    
    --g:#0000 var(--a),#000 0;
    width: 100%;    
    padding: calc(var(--b) + var(--p));
    margin:  10px;
    display:flex;
    box-sizing: border-box;
    background:linear-gradient(45deg,rgb(11, 112, 82),rgb(8, 113, 151));
    -webkit-mask:
      conic-gradient(from calc(var(--a)/-2 -  45deg) at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from calc(var(--a)/-2 +  45deg) at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from calc(var(--a)/-2 - 135deg) at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from calc(var(--a)/-2 + 135deg) at bottom var(--b) right var(--b),var(--g)) 100% 100%;
            mask:
      conic-gradient(from calc(var(--a)/-2 -  45deg) at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from calc(var(--a)/-2 +  45deg) at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from calc(var(--a)/-2 - 135deg) at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from calc(var(--a)/-2 + 135deg) at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    -webkit-mask-size:50.1% 50.1%;
            mask-size:50.1% 50.1%;
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
  }
  
  .project-card img {
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: fill;
  }
  
  .project-card h3 {
    padding: 10px;
    margin: 0;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  