:root {
  --background-color: #3c5561;
  --text-color: #f8f8f8;
}

.App.dark {
  --background-color: #070F2B;
 
  --text-color: #FE7A36; 
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-weight: 300;
  font-size: 18;
  letter-spacing: 0.1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App {
  margin-top: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}




main {
  padding: 0;
  flex: 1;
}
