:root {
  --background-color: #3c5561;
  --text-color: #f8f8f8;
}

.App.dark {
  --background-color: #070F2B;
 
  --text-color: #FE7A36; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  overflow-x: hidden;
  --size: 5px;
  background: conic-gradient(#000000 0.03turn, rgba(4, 66, 95, 0.9) 0);
  background-size: var(--size) var(--size);
  animation: moveConic 100s linear infinite; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@keyframes moveConic {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 100%;
  }
}




